<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}SoundShift Player</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout/styles.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %} {# Ensure all scripts here include the 'defer' attribute. #}
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="nav-menu">
        {% if current_user.is_authenticated %}
        <a href="/songs" class="nav-link">Music Player</a>
        <a href="/upload" class="nav-link">Upload Song</a>
        <a href="/playlists" class="nav-link">Playlist Maker</a>
        <a href="/history" class="nav-link">Listening History</a>
        <a href="/logout" class="nav-link">Logout</a>
        {% else %}
        <a href="/" class="nav-link">Home</a>
        <div class="auth-links">
          <a href="/login" class="auth-link">Login</a>
          <span class="nav-divider"> / </span>
          <a href="/signup" class="auth-link">Sign Up</a>
        </div>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer>
    <p><a href="/" class="footer-main-page-link">SoundShift Player - Main Page</a></p>
  </footer>
</body>
</html>
